<div id="color-fondo">

<div id="registrapp">
  <img src="assets/img/registrApp2.png">
   </div>

</div><!----cierre div header-->

<ion-content>
  <div id="centrar-contenido">
  <ion-card>
    <div id="loginimg">
    <img src="assets/img/login.png" />
  </div>
    <ion-card-header>
      <ion-card-subtitle>INGRESE SU CORREO</ion-card-subtitle>      
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input type="text" placeholder="Ingrese correo" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" placeholder="Ingrese contraseña" [(ngModel)]="password"></ion-input>
      </ion-item>
      <button (click)="login()" id="boton" >INGRESAR</button>
    </ion-card-content>
  </ion-card>
<div>
  <a routerLink='/registrar'>¿No tienes cuenta? Registrate aquí </a>
</div><!---cierre div boton-->
</div>
</ion-content>
