<ion-header>
  <ion-toolbar>
    <ion-title>Perfil alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="margen-contenido">
    <div class="img-alumno">
    <img src="assets/img/perfil-alumno.png"></div>
    <p>Nombre: </p>
    <p>Rut: </p>
    <p>Fecha Nacimiento</p>
    <p>Semestre:</p>
    <p>Correo:</p>

    <button id="boton" >Modificar información</button>
    <div class="qr"><img src="assets/img/QR.png"></div><!---cierre del div QR-->
    
  </div><!---cierre div contenido-->
  
  


</ion-content>
