<div id="color-fondo">
  <div class="boton-atras">
    <img src="assets/img/atras.png" routerLink='/login'>  
    </div><!---cierre boton atras -->
    
    <div class="cerrar-sesion">
      <img src="assets/img/logout.png" slot="end" routerLink='/login'>
      </div><!---cierre cerrar sesion-->


  <div id="registrapp">
    <img src="assets/img/registrApp2.png">
     </div><!---cierre logo registrapp-->


  
  </div><!----cierre div header-->
  

<ion-content>
  <div id="margen-contenido">
    <div class="img-alumno">
    <img src="assets/img/perfil-alumno.png"></div>
    <p>Nombre: </p>
    <p>Rut: </p>
    <p>Fecha Nacimiento</p>
    <p>Semestre:</p>
    <p>Correo:</p>

    <button id="boton" >Modificar información</button>
    <div class="qr"><img src="assets/img/QR.png"></div><!---cierre del div QR-->
    
  </div><!---cierre div contenido-->
 

</ion-content>
<!--------------inicio tabs----------------->




