<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="color-fondo">
      <div class="boton-atras">
        <img src="assets/img/atras.png" routerLink='/login'>  
        </div><!---cierre boton atras -->
        
        <div class="cerrar-sesion">
          <img src="assets/img/logout.png" slot="end" routerLink='/login'>
          </div><!---cierre cerrar sesion-->
    <h1>Administrador</h1>
      
      </div><!----cierre div header--> 

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="alumno" (ngSubmit)="registrar()">
    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre completo</ion-label>
      <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom_completo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="text" placeholder="Ej: juanitoperez@gmail.com" formControlName="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha nacimiento</ion-label>
      <ion-input [max]="today" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" type="date" placeholder="Ingrese fecha nacimiento" formControlName="fecha_nac"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Semestre</ion-label>
      <ion-input type="number" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" >Tipo Usuario</ion-label>
          <ion-select placeholder="Selecciona" formControlName="tipo_usuario">
            <ion-select-option value="administrador">Administrador</ion-select-option>
            <ion-select-option value="alumno">Alumno</ion-select-option>
            <ion-select-option value="docente">Docente</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Repita Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password"
        [ngModelOptions]="{standalone: 'true'}"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!alumno.valid">Registrar</ion-button>
    <ion-button (click)="modificar()">Modificar</ion-button>
    <ion-button (click)="limpiar()">Limpiar</ion-button>
  </form>

  <h1>LISTA DE USUARIOS</h1>
  <ion-list *ngFor="let usuario of usuarios">
    <p>{{usuario.rut}} - {{usuario.nom_completo}} - {{usuario.fecha_nac}} - {{usuario.semestre}} - {{usuario.tipo_usuario}} </p>
    <ion-button color="warning" (click)="buscar(usuario.rut)">Buscar</ion-button>
    <ion-button color="danger" (click)="eliminar(usuario.rut)">Eliminar</ion-button>
  </ion-list>

</ion-content>

