/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



#color-fondo{
    margin: 0;
    padding: 0px 0px;
    background-color: #004b9c;
    width: 100%;
    height: 70px;
    color: aliceblue;
    text-align: center;
}

#color-fondo img{
    width: 280px;
    margin: 3px 0 10px 0;
    padding: 0;

}

#boton{
    background-color: #6f42c1;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 15px 0 10px 0;
    
}

.boton-atras{
    width: 60px;
    margin: 0;
    padding: 5px;
    float: left;
}

.cerrar-sesion{
    width: 60px;
    margin: 0;
    padding: 5px;
    float: inline-end;
}
//variable de mi aplicacion, hay que importar al css que afectara @use 'ruta'



#iconos-tabs{
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
    
    }
    
#tabs{
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
        position: fixed;
        background-color: black;
    }