#contenido{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(38, 69, 105);
    text-align: center;
    background-size: cover;    
    }
#contenido img {
    width: 200px;

}

#header{
    background-color: #1060b6;
   

}